@page "/hello"
@inherits BasePage<Delights.Modules.Hello.HelloModule>
@inject Hello.ModuleService Service

<h1>Hello World! from @Module.Manifest.Name </h1>

<button @onclick="@OnClick">Click</button>

@foreach (var message in messages)
{
    <p>@message.Content</p>
    <br />
}

@code{
    List<GraphQL.IGetMessages_Messages_Nodes> messages = new List<GraphQL.IGetMessages_Messages_Nodes>();

    protected override void OnInitialized()
    {
        Parent.Title = "Hello";
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        messages = (await Service.GraphQLClient.GetMessages.ExecuteAsync()).Data?.Messages?.Nodes?.ToList() ?? new List<GraphQL.IGetMessages_Messages_Nodes>();
    }

    void OnClick()
    {
        Parent.Title = "Hello!";
    }
}
