@page "/"
@inherits BasePage<TestModule>

@inject AntDesign.MessageService MessageService

<PageInfo Title="Home Page"/>

<h3>Index</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await MessageService.Info("Test info");
    }
}
